html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #E0E0E0;
  overflow: scroll;
}

img.project{ 
  -webkit-filter: drop-shadow(2px 2px 2px #757575);
  filter:         drop-shadow(2px 2px 2px #757575);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2px, Direction=135, Color='#757575')";
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
}

img.project:hover {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

div#title {
  font-size: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  color: #424242;
  width: 50%;
}

div#date {
  font-size: 14px;
  color: #616161;
  position: absolute;
  bottom: 1px;
  right: 0;
}

div.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0px 100px;
  max-width: 700px;
  overflow: hidden;
}

div.grid {
  width: 100%;
  margin: 2px -50px 2px 0;
  padding: 16px 0;
  flex: 2;
  overflow-y: scroll;
  overflow-x: hidden;
}

div.stop-gap {
  height: 16px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.thumbnail,
.grid-sizer {
  width: 22%;
}

.thumbnail {
  float: left;
}

.gutter-sizer { width: 4%; }



.thumbnail {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  transition: opacity .4s;
  z-index: 1;
}

.thumbnail:hover {
  will-change: left, top, width, height;
}

.thumbnail:hover:not(.active) {
  opacity: .8;
}

.thumbnail.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

#materialbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #292929;
  z-index: 999;
  will-change: opacity;
}

img.singleline {
  width: 100%;
  height: 1px;
}

img.doubleline {
  width: 100%;
  height: 6px;
}

div#header {
  height: 60px;
  position: relative;
}

div#header > a > paper-icon-button#initials {
  padding: 0;
}

div#header > a > paper-icon-button#initials > iron-icon {
  height: 50px;
  width: 50px;
  margin-left: -6px;
}

div#footer {
  height: 50px;
}

div#description {
  width: 66.6%;
  display: block;
  padding: 6px 0 10px 0;
}

div#description > p {
  top: 40px;
  font-size: 14px;
  font-weight: 200;
  color: #616161;
  margin: 4px 0;
}

a.link {
  top: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #424242;
  text-decoration: none;
}

a.via {
  top: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #424242;
  text-decoration: none;
}


a.icon > img{
  height: 24px;
  margin: 8px 4px 0 8px;
  opacity: .3;
  transition-duration: 0.3s;
}

a.icon {
  display: block;
  float: left;
}

a.icon > img:hover {
  opacity: .6;
  transition-duration: 0.3s;
}