<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>thomas shouler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="thomas shouler">
	<meta name="keywords" content="thomas shouler">
  <meta name="author" content="thomas shouler">
    <!-- need to load polyfill webcomponents before any html imports -->
  <script src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
  <link rel="import" href="{{ url_for('static', filename='bower_components/elements.build.html') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/initials.png') }}"/>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-59740481-1', 'auto');
		ga('send', 'pageview');
	</script>

</head>

<body>

	<div class=container style="overflow:visible;">

		<div id="header">
			<div id="title">thomas shouler</div>
			<a class=link href="http://thomasshouler.com" style="font-weight:100; position:absolute; top:62px;">http://thomasshouler.com</a>
		</div>
		<img class=singleline src="static/assets/single_line.png">

		<div class="sandbox">
			{% for project_id, project in projects.items() %}
			<div style="position:absolute; left:{{project.left}}; top:{{project.top}};">
				<a href="{{ url_for('project', project_id=project_id) }}"><img class="project" src="static/assets/{{project_id}}/id.png" style="width:{{project.width}};"></a>
			</div>
			{% endfor %}
		</div>
		<img class=singleline src="static/assets/single_line.png">

		<div id="footer">
			<a href="{{ url_for('index') }}" class="icon"><paper-icon-button id="initials" src="static/assets/initials.png"></paper-icon-button></a>
			<a target="_blank" href="http://www.flickr.com/photos/111512626@N08/sets/" class="icon"><img src="static/assets/icon/flickr-inv.png"/></a>
			<a target="_blank" href="http://github.com/thomastodon" class="icon"><img src="static/assets/icon/git-inv.png" class="icon"/></a>
			<a target="_blank" href="http://instagram.com/thomasshouler/" class="icon"><img src="static/assets/icon/insta-inv.png"/></a>
			<a target="_blank" href="http://www.linkedin.com/in/thomasshouler" class="icon"><img src="static/assets/icon/linkd-inv.png"/></a>
			<a target="_blank" href="http://stackoverflow.com/users/3746982/thomasshouler" class="icon"><img src="static/assets/icon/stack-inv.png"/></a>
			<a target="_blank" href="http://www.strava.com/athletes/tmshouler" class="icon"><img src="static/assets/icon/strava-inv.png"/></a>
			<a target="_blank" href="http://thomasshouler.tumblr.com/" class="icon"><img src="static/assets/icon/bulb-inv.png"/></a>
			<a target="_blank" href="http://vimeo.com/user22045579" class="icon"><img src="static/assets/icon/vimeo-inv.png"/></a>
		</div>

	</div>

</body>
</html>