<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>.&nbsp;&nbsp;{{project.id}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
    <!-- need to load polyfill webcomponents before any html imports -->
  <script src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
  <link rel="import" href="{{ url_for('static', filename='bower_components/elements.build.html') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/initials_spoon.png') }}"/>

  <script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/isotope.pkgd.js') }}"></script>
  <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/packery-mode.pkgd.js') }}"></script
  <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-59740481-1', 'auto');
		ga('send', 'pageview');
	</script>

</head>

<body>

	<div class=container>

		<div id="header">
			<div id="title">{{project.id}}</div>
			<div id="date">{{project.month}}&nbsp;{{project.year}}</div>
		</div>
		<img class=doubleline src="static/assets/border.png">
		
		<div id="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<img class=singleline src="static/assets/single_line.png">

		<div class="grid">
  		<div class="gutter-sizer"></div>
		{% for asset_id, asset in assets.items() %}
			<div class="grid-item"><a><img class="thumbnail" id="{{asset_id}}" src="static/assets/{{project.id}}/{{asset.path}}"></a></div>
		{% endfor %}
		</div>
		<img class=singleline src="static/assets/single_line.png">

		<div id="footer">
		<a href="{{ url_for('index') }}"><paper-icon-button id="initials" src="static/assets/initials_spoon.png"></paper-icon-button></a>
		</div>
		
	</div>

	<script>

	$(window).load(function(){

	  $('div.grid').isotope({
		  layoutMode: 'packery',
		  itemSelector: '.grid-item',
		  percentPosition: true,
		  packery: {
		    gutter: '.gutter-sizer'
		  }
		});
		$('div.grid').isotope('layout');

	});


	</script>

</body>
</html>